<!DOCTYPE html>
<html>
<head>
	<title>后台管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/index.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" >

	<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- 头部 -->
		{include file="public/head" /}
		<!-- 头部END -->
		<div class="row">
			<div class="col-md-2">
				{include file="public/menu"/}
			</div>
			<div class="col-md-10">
				<div class="page-header">
					<h4>{$Think.session.nickname}，你好！欢迎登录企业录单系统 </h4>
				</div>
				<table class="table ">
					<tr class="info">
						<td>总括</td>
					</tr>
				</table>
				
				<div class="row">
					<div class="col-lg-3 col-md-6 icons-left">
						<div class="icons-left1">
							<i class="fa fa-bar-chart-o fa-4x"></i>
						</div>
						<div class="icons-right1" >
							<h4>BD状态</h4>
							<p>P<sub>1</sub>总数&nbsp;&nbsp;<span class="badge">{$p1_num}</span></p>
							<p>B<sub>2</sub>总数&nbsp;&nbsp;<span class="badge">{$b2_num}</span></p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 icons-left">
						<div class="icons-left2">
							<i class="fa fa-line-chart fa-4x" aria-hidden="true"></i>
						</div>

						<div class="icons-right2">

							<h4>客户公海</h4>

							<p>数据总数&nbsp;<span class="badge">{$agent_num}</span></p>

							<p>可用总数&nbsp;<span class="badge">{$wei_num}</span></p>

						</div>

					</div>

					<div class="col-lg-3 col-md-6 icons-left">

						<div class="icons-left3">

							<i class="fa fa-sliders fa-4x" aria-hidden="true"></i>

						</div>

						<div class="icons-right3">

							<h4>我的客户</h4>

							<p><span class="badge">{$stownum}</span>&nbsp;个客户</p>

							<p><span class="badge">{$stownums}</span>&nbsp;个客户未联系</p>

						</div>

					</div>

					<div class="col-lg-3 col-md-6 icons-left">

						<div class="icons-left4">

							<i class="fa fa-toggle-on fa-4x" aria-hidden="true"></i>

						</div>

						<div class="icons-right4">

							<h4>访问统计</h4>

							<p>在线人数&nbsp;&nbsp;<span class="badge">{$zai_num}</span></p>

							<!-- <p>今日访问</p> -->

						</div>

					</div>

				</div>
				
				<div class="row sys-infos" >

					<div class="col-md-6">

						<table class="table table-striped table-bordered">
							<tr class="info">
								<td colspan="8">系统参数</td>
							</tr>
							<tr>

								<th>域名</th>

								<td>{$config.host}</td>

							</tr>

							<tr>

								<th>上传限制</th>

								<td>{$config.upload_max_filesize}</td>

							</tr>

							<tr>

								<th>PHP版本</th>

								<td>{$config.php_version}</td>

							</tr>

							<tr>

								<th>Thinkphp版本</th>

								<td>{$Think.think_version}</td>

							</tr>

						</table>

					</div>

					<div class="col-md-6">

						<table class="table table-striped table-bordered">
							<tr class="info">
								<td colspan="3">&nbsp;</td>
							</tr>
							<tr>

								<th>数据库</th>

								<td> {$config.mysql_version}</td>

							</tr>

							<tr>

								<th>web运行环境</th>

								<td> {$Think.server.SERVER_SOFTWARE}</td>

							</tr>

							<tr>

								<th>当前版本</th>

								<td> V1.3</td>

							</tr>

							<tr>

								<th>服务器操作系统</th>

								<td>{$config.server_os}</td>

							</tr>

						</table>

					</div>

				</div>

			</div>

		</div>



		

	</div>



</body>

</html>