<!DOCTYPE html>
<html>
<head>
	<title>查看员工账户</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/staff.css">
	<link href="__STATIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- 头部 -->
		{include file="public/head"/}
		
		<!-- 头部END -->
		<div class="row">
			<div class="col-md-2">
				{include file="public/menu"/}
			</div>
			<div class="col-md-10">
				<div class="page-header">
					<div class="row">
						<div class="col-md-3">
							<h4>员工日常任务<small>>>详情页</small></h4>
						</div>
						<div class="col-md-9 staff-in">
							<a class="btn btn-default " href="__MODULE__/staff/showInfos">员工任务概况</a>
						</div>
						
					</div>
				</div>
				<div class="container-fluid">
					<div class="alert alert-success">
						<div class="row">
							<div class="col-md-2">
								<form class="form-inline">
									<div class="form-group">
										<div class="btn-group">
											<button class="btn btn-info">员工：</button>
											<button class="btn btn-default"><span>{$nickname}</span></button>
											
										</div>
										
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form action="__MODULE__/staff/checkTask/id/{$admin_id}" method="post" class="form-inline">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon">公司名称</div>
											<input type="text" name="keyword" class="form-control" value="{$keyword}" placeholder="比如：医疗">
											
										</div>
									</div>
									<div class="form-group">
										<select name="typename" class="form-control">
											<option value="">--请选择分类--</option>
											{volist name="datastow" id="vodata"}
											<option value="{$vodata.id}" {if condition="$stowtype eq $vodata.id"}selected{/if}>{$vodata.type_name}</option>
											{/volist}
										</select>
									</div>
									<div class="form-group">
										<select name="time" class="form-control">
											<option value="">--请选择日期--</option>
											
											
											<option value="today" {if condition="$date eq 'today'"}selected{/if}>今天</option>
											<option value="yesterday" {if condition="$date eq 'yesterday'"}selected{/if}>昨天</option>
											<option value="week" {if condition="$date eq 'week'"}selected{/if}>本周</option>
											<option value="last week" {if condition="$date eq 'last week'"}selected{/if}>上周</option>
											<option value="month" {if condition="$date eq 'month'"}selected{/if}>本月</option>
											<option value="last month" {if condition="$date eq 'last month'"}selected{/if}>上月</option>
											
										</select>
									</div>
									<button type="submit" class="btn btn-sm btn-info">搜索</button>
								</form>
							</div>
							<div class="col-md-4">
								<div class="btn-group">
									<button class="btn btn-default ">每页显示条数</button>
										<button class="btn btn-default uppage {$btn1}">10</button>
										<button class="btn btn-default uppage {$btn2}">20</button>
										<button class="btn btn-default uppage {$btn3}">30</button>
										<button class="btn btn-default uppage {$btn5}">50</button>
										<button class="btn btn-default uppage {$btn10}">100</button>
								</div>
							</div>
							
						</div>
					</div>
					<table class="table table-bordered table-responsive table-hover">
						<tr class="info">
							<td colspan="7">
								<h4>我的客户数量：<span class="label label-info">{$page_total}</span>&nbsp;&nbsp;&nbsp;&nbsp;BD状态数量：<span class="label label-info">{$bd_num}</span></h4>
								
							</td>
							<td colspan="3">
								
							</td>
						</tr>
						<tr>
							<th>编号</th>
							<th>公司名称</th>
							<th>客户名称</th>
							<th>联系方式</th>
							<th>微信/QQ号</th>
							<th>时间</th>
							
							<th>沟通情况</th>
							<th>BD状态</th>
							
						</tr>
						{volist name="list" id="vo"}
							<tr class="tr_width">
								<td>{$vo.co_id}</td>
								<td>{$vo.company_name}</td>
								<td>{$vo.linkman}</td>
								<td>{$vo.telphone}</td>
								<td>{$vo.qq}</td>
								<td>{$vo.add_time|date="Y-m-d H:i",###}</td>
								
								<td>
									{$vo.notes}
								</td>
								<td>
									<span>{$vo.type_name}</span>
								</td>
								
							</tr>
						{/volist}
					</table>
					{$list->render()}

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		//分页显示按钮组
		$(".uppage").click(function(){
			var but_val=$(this).html();
			$.ajax({
				url:"{:url('collect/stow')}",
				type:'post',
				data:{page:but_val},
				async:true,
				success:function(data){
					if(data){
						location.reload();
					}
				}
			})
		})
		
		//确认删除
		function checkDel(){
			var message=confirm("确认要删除这条数据？");
			if(message==true){
				return true;
			}else {
				return false;
			}
		}
	</script>		
</body>
</html>