<!DOCTYPE html>
<html>
<head>
	<title>添加权限</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/base.css">
	<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- 头部 -->
		<div class="row">
			<div class="col-md-2 head_left">
			<div class="">
				<a class="btn btn-info btn-lg" href="__MODULE__/index/index">后台管理</a>
			</div>
			</div>
			<div class="col-md-10 head_right">
				<div class="row">
					<div class="col-md-1">
						
					</div>
					<div class="col-md-9">
						
					</div>
					<div class="col-md-2">
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						  	<i class="fa fa-user fa-fw"></i>
						    {$Think.session.username}
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="__MODULE__/persetting/index"><i class="fa fa-cog"></i>个人设置</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="__MODULE__/Login/logout"><i class="fa fa-power-off" aria-hidden="true"></i>退出</a></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 头部END -->
		<div class="row">
			<div class="col-md-2">
				{include file="public:menu"/}		
			</div>
			<div class="col-md-10">

				<div class="page-header">
					<div class="row">
						<div class="col-md-2">
							<h4>权限菜单管理<small>>>新增</small></h4>
							
						</div>
						<div class="col-md-7"></div>
						<div class="col-md-3">
							<h4>
								<a class="btn btn-info" href="__MODULE__/permission/add">添加权限</a>

							</h4>
						</div>
					</div>
					
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-5">
							<form class="form-horizontal" action="__MODULE__/permission/insert">
								<div class="form-group">
									<label class="col-sm-3 control-label">权限目录</label>
									<div class="col-sm-9">
										<select class="form-control" name="parent_id">
											
											<option value="0">--作为一级菜单--</option>
											{volist name="list" id="vo"}
												<option value="{$vo.id}">{$vo.per_name}</option>
												{volist name="vo.child" id="vi"}
													<option value="{$vi.id}">|&nbsp;&nbsp;|&nbsp;{$vi.per_name}</option>
												{/volist}
											{/volist}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">名称</label>
									<div class="col-sm-9">
										<input type="text" name="per_name" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">控制器</label>
									<div class="col-sm-9">
										<input type="text" name="controller" class="form-control">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">方法/操作</label>
									<div class="col-sm-9">
										<input type="text" name="action" class="form-control">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">附加参数</label>
									<div class="col-sm-9">
										<input type="text" name="param" class="form-control">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">状态</label>
									<div class="col-sm-9">
										<div class="checkbox">
											<label>
												<input type="radio" name="status" value="1">显示
											</label>
											<label>
												<input type="radio" name="status" value="0">隐藏
											</label>
										</div>
										
										
									</div>
								</div>
								<div class="alert alert-info ">
									<button class="btn btn-info " type="submit">提交</button>
									
								</div>
							</form>
						</div>
						<div class="col-md-4"></div>
					</div>
					
				</div>
				
			</div>
		</div>

		
	</div>
</body>
</html>