<!DOCTYPE html>
<html>
<head>
	<title>修改权限</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/base.css">
	<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- 头部 -->
		{include file="public/head"/}
		<!-- 头部END -->
		<div class="row">
			<div class="col-md-2">
				{include file="public:menu"/}		
			</div>
			<div class="col-md-10">

				<div class="page-header">
					<div class="row">
						<div class="col-md-2">
							<h4>权限菜单管理<small>>>修改</small></h4>
							
						</div>
						<div class="col-md-7"></div>
						<div class="col-md-3">
							<h4>
								<a class="btn btn-info" href="__MODULE__/permission/add">添加权限</a>

							</h4>
						</div>
					</div>
					
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-5">
							<form class="form-horizontal" action="__MODULE__/permission/update">
								<div class="form-group">
									<label class="col-sm-3 control-label">权限目录</label>
									<div class="col-sm-9">
										<select class="form-control" name="parent_id">
											
											<option value="0">--作为一级菜单--</option>
											{volist name="list_menu" id="vo"}
												<option value="{$vo.id}" {if condition="$vo.id eq $list_find.id"}selected{/if}>{$vo.per_name}</option>
												{volist name="vo.child" id="vi"}
													<option value="{$vi.id}" {if condition="$vi.id eq $list_find.id"}selected{/if}>|&nbsp;&nbsp;|&nbsp;{$vi.per_name}</option>
												{/volist}
											{/volist}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">名称</label>
									<div class="col-sm-9">
										<input type="text" name="per_name" class="form-control" value="{$list_find.per_name}">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">控制器</label>
									<div class="col-sm-9">
										<input type="text" name="controller" value="{$list_find.controller}" class="form-control">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">方法/操作</label>
									<div class="col-sm-9">
										<input type="text" name="action" class="form-control" value="{$list_find.action}">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">附加参数</label>
									<div class="col-sm-9">
										<input type="text" name="param" class="form-control" value="{$list_find.param}">
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">状态</label>
									<div class="col-sm-9">
										<div class="checkbox">
											<label>
												<input type="radio" name="status" {if condition="$list_find.status eq 1"}checked{/if} value="1">显示
											</label>
											<label>
												<input type="radio" name="status" {if condition="$list_find.status eq 0"}checked{/if} value="0">隐藏
											</label>
										</div>
										
										
									</div>
								</div>
								<div class="alert alert-info ">
									<input type="hidden" name="id" value="{$list_find.id}">
									<button class="btn btn-info " type="submit">提交</button>
									
								</div>
							</form>
						</div>
						<div class="col-md-4"></div>
					</div>
					
				</div>
				
			</div>
		</div>

		
	</div>
</body>
</html>