<!DOCTYPE html>

<html>

<head>

	<title>添加收藏分类--{$Think.config.sys_webname}</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/base.css">

	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/collect.css">



	<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.11.0.js"></script>

	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="container-fluid">

		<!-- 头部 -->

		{include file="public/head"/}

		

		<!-- 头部END -->

		<div class="row">

			<div class="col-md-2">

				{include file="public/menu"/}

			</div>

			<div class="col-md-10">

				<div class="page-header">

					<div class="row">

						<div class="col-md-2">

							<h4>修改<small>>>修改客户数据</small></h4>

							

						</div>

						<div class="col-md-7"></div>

						<div class="col-md-3">

							<h4>



							</h4>

						</div>

					</div>

					

				</div>

				<div class="container-fluid">

					<div class="alert">

						<div class="row">

							<div class="col-md-6">

								<form action="__MODULE__/collect/updatecom" class="form-horizontal">
						        	<div class="form-group">
						        		<label>公司名称/客户行业</label>
						        		<input type="text" name="company_name"  class="form-control" value="{$db.company_name}">
						        	</div>
						        	<div class="form-group">
						        		<label>客户名称</label>
						        		<input type="text" name="linkman"  class="form-control" value="{$db.linkman}">
						        	</div>
						        	<div class="form-group">
						        		<label>客户地区/公司地址</label>
						        		<input type="text" name="address"  class="form-control" value="{$db.address}">
						        	</div>
						        	<div class="form-group">
						        		<label>联系电话</label>
						        		<input type="text" name="telphone"  class="form-control" value="{$db.telphone}">
						        	</div>
						        	<div class="form-group">
						        		<label>微信/QQ</label>
						        		<input type="text" name="qq"  class="form-control" value="{$db.qq}">
						        	</div>
						        	<div class="form-group">
						        		<label>成交障碍</label>
						        		
						        		<textarea name="barrier"  class="form-control" >{$db.barrier}</textarea>
						        	</div>
						        	<div class="form-group">
						        		<label>BD状态</label>
						        		<select name="stowtype" class="form-control" >
											<option value="">--选择BD状态--</option>
											{volist name="datastow" id="vodata"}
											<option value="{$vodata.id}" {if condition="$param.typeid eq $vodata.id"}selected{/if} >{$vodata.type_name}</option>
											{/volist}
										</select>
						        	</div>
						        	<input type="hidden" name="id" value="{$db.id}">
						        	<button type="submit" class="btn btn-primary">提交修改</button>

							    </form>

							</div>

							

						</div>

						

					</div>

					

				</div>

			</div>

		</div>



		

	</div>
		

</body>

</html>