		<div class="row">
			<div class="col-md-2  head_left">
				<div class="">
					<a class="btn btn-info btn-lg" href="__MODULE__/index/index">后台管理</a>
				</div>
			</div>
			
			<div class="col-md-10  head_right">
				<div class="row">
					<div class="col-md-1">					
					</div>
					<div class="col-md-9">					
						<h4 style="text-align: center;color: #fff;line-height: 30px;">荼兰CRM后台管理系统</h4>
					</div>
					<div class="col-md-2">
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    {$Think.session.nickname}
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="__MODULE__/persetting/index"><i class="fa fa-cog"></i>&nbsp;&nbsp;个人设置</a></li>					    

						    <li role="separator" class="divider"></li>
						    <li><a href="__MODULE__/Login/logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp;退出</a></li>
						  </ul>
						</div>

					</div>

				</div>

			</div>

		</div>